---
const { title } = Astro.props;

interface Props {
  title: string;
}
---

<button
  type="button"
  class="bg-gradient-to-br from-primary shadow-md shadow-primary to-secondary rounded-xl py-3.5 px-3.5 sm:px-7 text-white font-semibold text-sm sm:text-base "
>
  {title}
</button>
