---
import { Image } from "astro:assets";
---

<section class="flex max-w-screen-2xl mx-auto mt-28">
  <!--left side -->
  <div class="w-1/2 relative">
    <Image
      src="/images/experienceImg.webp"
      alt="experience-image"
      width={590}
      height={500}
      quality={100}
    />
    <Image
      src={"/images/totalInvoice.webp"}
      alt="total-invoice"
      width={273}
      height={122}
      quality={100}
      class="absolute bottom-10 right-0 rounded-xl shadow-lg"
    />
  </div>
  <!--right side -->
  <div class="w-1/2 flex flex-col justify-between pl-10 py-10">
    <h2
      class="text-textPrimary font-extrabold text-5xl leading-snug text-pretty max-w-xl"
    >
      Have Experience In World Bank
    </h2>
    <p class="text-textSecondary font-medium text-base leading-loose">
      we have more than 15 years of experience in the field and have a number of
      users in various countries around the world and are also suported in
      various foreign languages
    </p>
    <!-- cards-->
    <div class="flex justify-around text-center">
      <!-- card 1-->
      <div class="w-40 h-40 flex flex-col justify-center gap-3">
        <span class="text-5xl font-extrabold text-textPrimary">15</span>
        <span class="text-lg font-medium text-textSecondary"
          >Years experience</span
        >
      </div>
      <!-- card 2-->
      <div
        class="bg-gradient-to-br from-primary to-secondary rounded-xl w-40 h-40 flex flex-col justify-center gap-3"
      >
        <span class="text-5xl font-extrabold text-white">20k</span>
        <span class="text-lg font-medium text-white">Local Customer</span>
      </div>
      <!-- card 3-->
      <div class="w-40 h-40 flex flex-col justify-center gap-3">
        <span class="text-5xl font-extrabold text-textPrimary">30+</span>
        <span class="text-lg font-medium text-textSecondary"
          >Available In More Than Countries</span
        >
      </div>
    </div>
  </div>
</section>
