---
import { Image } from "astro:assets";
import ExperienceImg from "../assets/ExperienceImg.svg"
import TotalInvoice from "../assets/TotalInvoice.svg"
---

<section
  class="flex flex-col lg:flex-row justify-evenly items-center max-w-screen-2xl mx-auto mt-32 2xl:px-16"
>
  <!-- left side -->
  <div class="w-full lg:w-1/2 relative">
    <Image
      src={ExperienceImg}
      alt="Imagen de usuarios experimentando la app"
      width={600}
      height={450}
      quality={100}
      format="svg"
      loading="lazy"
      decoding="async"
      class="rounded-3xl object-cover w-full h-80 lg:h-full"
    />
    <Image
      src={TotalInvoice}
      alt="total-invoice"
      width={400}
      height={250}
      quality={100}
      format="svg"
      loading="eager"
      class="absolute bottom-6 lg:bottom-8 right-0 lg:right-3 2xl:right-6 rounded-xl drop-shadow-lg max-md:w-48 hidden md:block"
    />
  </div>
  <!-- right side -->
  <div
    class="w-full lg:w-1/2 flex flex-col justify-between pl-6 py-10 space-y-6"
  >
    <h2
      class="text-textPrimary font-extrabold text-4xl md:text-5xl leading-snug text-balance max-w-xl"
    >
      Have Experience In World Bank
    </h2>
    <p
      class="text-textSecondary font-medium text-base md:text-lg leading-loose text-pretty"
    >
      We have more than 15 years of experience in the field and have a number of
      users in various countries around the world and are also supported in
      various foreign languages.
    </p>
    <!-- cards -->
    <div class="flex flex-wrap justify-around text-center gap-4">
      <!-- card 1 -->
      <div
        class="p-4 flex flex-col items-center gap-3 w-32 md:w-36 bg-white rounded-lg shadow-md"
      >
        <span class="text-4xl md:text-5xl font-extrabold text-textPrimary"
          >15</span
        >
        <span class="text-base md:text-lg font-medium text-textSecondary"
          >Years experience</span
        >
      </div>
      <!-- card 2 -->
      <div
        class="p-4 flex flex-col items-center gap-3 w-32 md:w-36 bg-gradient-to-br from-primary to-secondary rounded-lg shadow-md"
      >
        <span class="text-4xl md:text-5xl font-extrabold text-white">20k</span>
        <span class="text-base md:text-lg font-medium text-white"
          >Local Customer</span
        >
      </div>
      <!-- card 3 -->
      <div
        class="p-4 flex flex-col items-center gap-3 w-32 md:w-36 bg-white rounded-lg shadow-md"
      >
        <span class="text-4xl md:text-5xl font-extrabold text-textPrimary"
          >30+</span
        >
        <span class="text-base md:text-lg font-medium text-textSecondary"
          >Available In More Than Countries</span
        >
      </div>
    </div>
  </div>
</section>
