---
import FeatureCard from "./FeatureCard.astro";
---

<section
  class="flex flex-col items-center max-w-screen-2xl mx-auto gap-8 mt-20"
>
  <h2
    class="text-textPrimary font-extrabold text-4xl text-center max-w-xl leading-tight"
  >
    Features That You Can Get In CashBack
  </h2>
  <p class="text-base font-medium text-center text-textSecondary">
    Many Of The Latest And Useful FeaturesIn CashBack You Can See It In More
    Detail
  </p>
  <!-- <Features  Container/> -->
  <div class="w-full flex justify-around gap-x-10 flex-wrap leading-7">
    <!-- <Feature Cards/> -->
    <FeatureCard
      imageSrc="/images/feature-Transaction-icon.webp"
      className="w-[78px] h-[78px] object-cover "
      title="Monitor Transactions Here Easily"
      description="You can monitor your money transactions either into the bankor out of the bank"
    />

    <FeatureCard
      imageSrc="/images/feature-Analysis-icon.webp"
      className="w-[90px] h-[68px] object-cover"
      title="Can See Your Shopping Analysis"
      description="Analyze finances wheter it is wasteful or not with the contest analysis feature"
    />
    <FeatureCard
      imageSrc="/images/feature-Various-icon.webp"
      className="w-[78px] h-[78px] object-cover"
      title="Various Countries And Languages"
      description="Language support over 30 languages you don't have to worry about languages"
    />
  </div>
</section>
