<section class="flex flex-col items-center max-w-screen-2xl mx-auto gap-8 mt-20">
  <h2 class="text-textPrimary font-bold text-[40px] text-balance text-center">
    Features That You Can Get In CashBack
  </h2>
  <p class="text-base font-normal text-textSecondary">
    Many Of The Latest And Useful FeaturesIn CashBack You Can See It In More
    Detail
  </p>
  <!-- <Features  Container/> -->
  <div class="w-full flex justify-between flex-wrap leading-7">
    <!-- <Features  Card1/> -->
    <div
      class="flex flex-col gap-4 items-center text-center py-3 px-8 w-[380px] h-[260px]"
    >
      <div class="w-[104px] h-[104px] flex justify-center items-center">
        <img
          src="/src/images/feature-Transaction-icon.webp"
          alt="Transaction-Icon"
          class="w-[78px] h-[78px]"
        />
      </div>

      <h3 class="text-textPrimary font-bold text-[20px] text-balance">
        Monitor Transactions Here Easily
      </h3>
      <p class="text-textSecondary text-[13px] font-normal">
        You can monitor your money transactions either into the bank or out of
        the bank
      </p>
    </div>
    <!-- <Features  Card2/> -->
    <div
      class="flex flex-col gap-4 items-center text-center py-3 px-8 w-[380px] h-[260px]"
    >
      <div class="w-[104px] h-[104px] flex justify-center items-center">
        <img
          src="/src/images/feature-Analysis-icon.webp"
          alt="Transaction-Icon"
          class="w-[87px] h-[68px]"
        />
      </div>
      <h3 class="text-textPrimary font-bold text-[20px]">
        Can See Your <br />Shopping Analysis
      </h3>
      <p class="text-textSecondary text-[13px] font-normal">
        Analyze finances wheter it is wasteful or not with the contest analysis
        feature
      </p>
    </div>
    <!-- <Features  Card3/> -->
    <div
      class="flex flex-col gap-4 items-center text-center py-3 px-8 w-[380px] h-[260px]"
    >
      <div class="w-[104px] h-[104px] flex justify-center items-center">
        <img
          src="/src/images/feature-Various-icon.webp"
          alt="Transaction-Icon"
          class="w-[78px] h-[78px]"
        />
      </div>
      <h3 class="text-textPrimary font-bold text-[20px] text-balance">
        Various Countries And Languages
      </h3>
      <p class="text-textSecondary text-[13px] font-normal">
        Language support over 30 languages you don't have to worry about
        languages
      </p>
    </div>
  </div>
</section>
