---
const { listOptions } = Astro.props;

interface Props {
  listOptions: Array<{ name: string; href: string }>;
}
---

<ul class="flex flex-col gap-3">
  {
    listOptions.map(({ name, href }) => (
      <li class="text-sm md:text-base  xl:text-lg font-normal transition-colors hover:text-primary">
        <a
          rel="noopener noreferrer"
          target="_blank"
          class="hover:text-primary"
          title="Links a nuestras redes sociales"
          href={href}
          aria-label={`Links a nuestras redes sociales ${name}`}
        >
          {name}{" "}
        </a>
      </li>
    ))
  }
</ul>
