

<div class="mt-32 max-w-3xl " >
    <h1 class="capitalize text-textPrimary font-extrabold text-6xl text-balance " >transaction control material made easier</h1>
    <p class="text-[#5A7184] text-lg font-normal text-pretty max-w-xl" >
        Cash Bank is constantly improving to move forward through transformation, innovation, data security, and superior human resources. Give meaning to a better life.
    </p>
</div>