---
import { Image } from "astro:assets";
---

<section
  class="flex flex-col items-center gap-10 max-w-screen-2xl mx-auto mt-28"
>
  <h2
    class="leading-relaxed text-4xl font-extrabold text-textPrimary text-center max-w-5xl"
  >
    We Have Support Languages For More Than 30 Languages Around The World
  </h2>
  <Image
    alt={"maps-image"}
    src="/images/map.webp"
    width={1324}
    height={525}
    quality={100}
  />
</section>
