---
import Menu from "../icons/Menu.astro";
---

<nav class="flex items-center justify-between">
  <a
    title="Home principal de nuestra web"
    href="/"
    rel="noopener noreferrer"
    aria-label="Home principal de nuestra web"
    class="text-2xl font-extrabold text-textPrimary">CashBank</a
  >

  <div class="hidden md:flex items-center gap-5">
    <ul class="inline-flex gap-5 *:text-gray-700 *:font-medium text-base">
      <li class="cursor-pointer hover:text-primary">Home</li>
      <li class="cursor-pointer hover:text-primary">About Us</li>
      <li class="cursor-pointer hover:text-primary">Services</li>
      <li class="cursor-pointer hover:text-primary">Testimonial</li>
    </ul>
    <button
      class="border border-primary py-2 px-3.5 rounded-md text-primary text-base font-medium
      hover:bg-gradient-to-br hover:from-primary transition-all hover:to-secondary hover:border-transparent hover:text-white hover:transition-all duration-300"
      >Contact Us</button
    >
  </div>
  <!-- Menu Hamburguesa -->
  <div class="block md:hidden">
    <Menu class="w-7 h-7 cursor-pointer text-textPrimary" />
  </div>
</nav>
