---
import { Image } from "astro:assets";
---

<div class="flex flex-row justify-around items-center py-2 px-3">
  <Image
    src="/images/slack.webp"
    alt="Sponsors"
    width={120}
    height={30}
    class=" h-9 w-28 object-contain"
  />
  <Image
    src="/images/netflix.webp"
    alt="Sponsors"
    width={120}
    height={30}
    class=" h-9 w-28 object-contain"
  />
  <Image
    src="/images/google.webp"
    alt="Sponsors"
    width={120}
    height={30}
    class=" h-9 w-28 object-contain"
  />
  <Image
    src="/images/airbnb.webp"
    alt="Sponsors"
    width={120}
    height={30}
    class=" h-9 w-28 object-contain"
  />
  <Image
    src="/images/uber.webp"
    alt="Sponsors"
    width={120}
    height={80}
    class=" h-9 w-28 object-contain"
  />
</div>
