---
import { Image } from "astro:assets";
---

<div class="flex flex-row justify-around items-center py-2 px-3 ">
  <Image
    src="/src/images/slack.webp"
    alt="Sponsors"
    width={120}
    height={120}
    class="object-contain"
  />
  <Image
  src="/src/images/netflix.webp"
  alt="Sponsors"
  width={120}
  height={120}
  class="object-contain"
/>
<Image
src="/src/images/google.webp"
alt="Sponsors"
width={120}
height={120}
class="object-contain"
/>
<Image
src="/src/images/airbnb.webp"
alt="Sponsors"
width={120}
height={120}
class="object-contain"
/>
<Image
src="/src/images/uber.webp"
alt="Sponsors"
width={120}
height={120}
class="object-contain"
/>
</div>
