<div
  class="w-96 h-60 flex flex-col justify-between rounded-2xl relative text-left p-8 my-7 bg-white"
>
  <div class="h-14 w-14 rounded-full bg-gray-400 absolute left-4 -top-7"></div>
  <p class="text-base leading-relaxed text-pretty text-[#2B2D42]">
    Although this is well intentioned and the goal certainly is to reduce the
    quantity of these bothersome thoughts, the technique is
  </p>
  <hr />
  <!-- down side -->
  <div class="w-full flex justify-between">
    <!-- left side -->
    <div class="w-1/2 flex flex-col">
      <span class="text-xl font-extrabold text-[#2B2D42]">Wade Warren</span>
      <span class="text-xs text-textSecondary">Ceo Google.Inc</span>
    </div>
    <!-- right side -->
    <div class="w-1/2 flex items-center justify-end">
      <img src="/images/star.svg" alt="star" />
      <img src="/images/star.svg" alt="star" />
      <img src="/images/star.svg" alt="star" />
      <img src="/images/star.svg" alt="star" />
      <img src="/images/star.svg" alt="star" />
    </div>
  </div>
</div>
