---
import { TestimonialData } from "../data";
import TestimonialCard from "./TestimonialCard.astro";

const { sliderPerViews, spaceBetween } = Astro.props;
---

<div class="mx-auto max-w-screen-2xl px-5 bg-red-200">
  <swiper-container
    class="mySwiper overflow-hidden flex"
    pagination="true"
    pagination-clickable="true"
    slides-per-view={sliderPerViews}
    space-between={spaceBetween}
    free-mode="true"
    centered-slides="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
    loop="true"
  >
    {
      TestimonialData.map(() => {
        return (
          <swiper-slide>
            <TestimonialCard />
          </swiper-slide>
        );
      })
    }
  </swiper-container>
</div>
<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
