---
import { Image } from "astro:assets";
import Bubble from "./Bubble.astro";
import Button from "./Button.astro";
---

<section
  class="flex flex-col max-lg:gap-8 lg:flex-row max-w-screen-2xl mx-auto mt-28"
>
  <!--left side -->
  <div
    class="w-full lg:w-1/2 flex flex-col justify-center items-start gap-8 lg:pr-10"
  >
    <h2
      class="text-textPrimary font-extrabold text-5xl text-balance leading-snug"
    >
      Real Time Transaction Report
    </h2>
    <p
      class="text-textSecondary font-medium text-base xl:text-balance leading-loose"
    >
      With real time transactions, it will make it easier for you to monitor
      expenses and income in only one application and you can also share
      accounts with other families
    </p>
    <Button title="Read More" />
  </div>

  <!--right side -->
  <div class="w-full lg:w-1/2 px-2">
    <div class="relative flex justify-end">
      <Image
        alt="lastest-transaction-card"
        src={"/images/LatestTransaction.svg"}
        width={800}
        height={700}
        quality={100}
        format="svg"
        loading="lazy"
        decoding="async"   
        class="drop-shadow-xl rounded-3xl object-contain"
      />
      <Image
        alt="earning-sources-card"
        src={"/images/EarningSource.svg"}
        width={387}
        height={234}
        quality={100}
        format="svg"
        loading="lazy"
        decoding="async"   
        class="w-40 absolute left-2 bottom-4 min-[460px]:w-52 min-[540px]:w-56 min-[580px]:left-8 md:left-5 md:bottom-10 md:w-80 xl:w-auto drop-shadow-xl object-contain"
      />

      <Bubble class="right-0 bottom-0" />
    </div>
  </div>
</section>
